section{
    background-color: #fafafa;
    height: 100vh;
    text-align: center;
    background-image: none;
  }
  
  img{
    margin-top: 7%;
    width: 14%;
    margin-bottom: 20px;
  }
  
  hr{
    width: 45%;
    color: #8a8888;
  }
  
  @media(max-width: 750px){
    img {
      margin-top: 10%;
      width: 50%;
    }
  
    hr {
      width: 70%;
    }
  }